# Configurações do Banco de Dados (Exemplo)
DB_HOST=localhost
DB_PORT=5434
DB_NAME=email_db
DB_USER=seu_usuario
DB_PASSWORD=sua_senha_segura

# Configurações do Cloud AMQP
URL_AMPQ_CLOUD=adicione_sua_url_da_plataforma