# Configurações da api
PORT=8080

# Configurações do bd
DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=password
DB_NAME=events_db
DB_PORT=5432

# Configurações do auth
JWT_SECRET=sua_chave_secreta_super_segura_e_longa
